#uc {
	text-align: : center;
	margin-top: 25%; 
}

#iUC {
	text-align: : center;
	color: #fff;
	background: #6DC8EA;
	font-size: 18px; 
}

#pUC {
	text-align: : center; 
	color: #6DC8EA;
	font-size: 18px; 
}
